<!-- Masthead-->
<header class="masthead">
             
    <div class="px-4 px-lg-5 d-flex flex-row justify-content-between logodiv">
        <div class="d-flex justify-content-center">
            <a href="https://www.un.org/en/" target="_blank" title="United Nations"><img src="./assets/img/un.png?now" id="mainunlogo"></a>
        </div>
        <div class="d-flex justify-content-center">
            <img src="./assets/img/unwgic.png" id="unwgiclogo">
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://dst.gov.in/" target="_blank" title="Department of Science and Technology"><img src="./assets/img/dst.png" id="maindstlogo"></a>
        </div>
    </div>


    <div class="container px-4 px-lg-5 d-flex flex-column align-items-center justify-content-start">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0">Second <span class="text-uppercase">
                    United Nations World Geospatial Information Congress <br>UNWGIC 2022</span>
                </h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">10-14 October 2022  <br> Hyderabad International Convention Centre <br>Hyderabad, INDIA</h2>
                <!-- <a class="btn btn-primary" href="#about"></a> -->
            </div>
        </div>
    </div>


</header>