<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <img src="./assets/img/unbgw.png?now" id="confunlogo" width=40px> &nbsp;&nbsp;
        <a class="navbar-brand" href="index.html#page-top">UNWGIC 2022</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html#about">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Program
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="program.html">Program at a Glance</a></li>
                      <li><a class="dropdown-item" href="program.html">Keynote Speakers</a></li>
                      <li><a class="dropdown-item" href="program.html">Social Events</a></li>
                      <li><a class="dropdown-item" href="program.html">Technical Tours</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Presenters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="presenters.html">Presenters</a></li>
                      <li><a class="dropdown-item" href="presenters.html">Panelists</a></li>
                      <li><a class="dropdown-item" href="presenters.html">Presentation Submission</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="registration.html">Registration</a></li>
                <li class="nav-item"><a class="nav-link" href="exhibition.html">Exhibition</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>